/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    /* border: 1px solid red; */
    max-width: 100%;
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(225, 239, 230);
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    text-align: center;
    padding: 1%;
    margin: auto;
    padding-left: 6%;
}

h2 {
    font-size: 6rem;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 3%;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
    color: rgb(225, 239, 230);
}

i {
    font-style: italic;
}

hr{
    border: none;
}

/* header section */
header {
    width: 100%;
    height: 120vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header div {
    background-color: rgb(0, 4, 17);
    background: rgb(0, 4, 17, .8);
}

.links {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 4, 17);
    background: rgb(0, 4, 17, .05);
}

header .socialMedia {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 4, 17);
    background: rgb(0, 4, 17, .05);
}

.facebook {
    padding: 1%;
    padding-right: 4%;
}

.twitter {
    padding: 1%;
}

.instagram {
    padding: 1%;
    padding-left: 4%;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-container {
    background-color: rgb(0, 4, 17);
    background: rgb(0, 4, 17, .8);
}

.menu-section {
    display: inline-block;
    width: 50%;
    padding: 2% 10%;
}

.menu-item h4 {
    display: inline;
}    

.menu-item {
    padding: 1.5% 0;
}

.item-price {
    display: flex;
    justify-content: space-between;
}

.row-menu {
    display: flex;
    justify-content: center;
}

.drinks {
    display: flex;
    flex-direction: column;
}

.appetizers {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.soupSalad {
    display: flex;
    flex-direction: column;
}

.entrees {
    display: flex;
    flex-direction: column;
}


/* footer section */
footer {
    width: 100%;
    height: 12vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background: rgb(0, 4, 17);
}

.topFooter {
    display:flex;
}

.emailSign {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.signUp {
    display: flex;
}

footer input, button {
    font-size: 3rem;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.copyright p {
    background: rgb(0, 4, 17);
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;

}


/* mobile media query */
@media (max-width: 428px) {

h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0% 15%;
}

h2 {
    padding-top: 15%;
    text-decoration: underline solid rgb(0, 4, 17) 30% ;
    text-underline-offset: 1.5rem;
}

h3 {
 border: .5rem solid rgb(0, 4, 17);
 box-sizing: border-box;
}

p {
    color: rgb(0, 4, 17);
}

hr {
    border: .3rem solid rgb(0, 4, 17);
}

    /* header section */
    header div {
        padding: 2%;
    }

    .links {
        flex-direction: column;
        text-align: center;
        background-color: rgb(0, 4, 17, .1)
    }
    
    header .socialMedia {
        background-color: rgb(0, 4, 17, .1);
    }
    
    .facebook {
        padding-right: 1%;
    }

    .instagram {
        padding-left: 1%;
    }

    /* menu */
    .menu {
        background-image: none;
        color: rgb(0, 4, 17);
    }

    .menu-container {
        background-color: rgb(225, 239, 230);
    }

    .menu-section {
        text-align: center;
        width: 60%;
        padding: 10% 0;
    }    

    .menu-item {
        padding: 1.5% 0;
    }
    
    .item-price {
        flex-direction: column;
    }
    
    .row-menu {
        flex-direction: column;
        align-items: center;
    }
  
    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }

    .topFooter {
        flex-direction: column;
    }

    .emailSign {
        width: 100%;
        padding: 4%;
    }

    footer h4 {
        padding: 2%;
        padding-bottom: 4%;
    }
    
    footer input, button {
        font-size: 2rem;
    }

    footer .signUp {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    footer nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .copyright p {
        padding: 3% 16%;
        text-align: center;
        color: rgb(225, 239, 230)
    }

}

